<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 맵퍼가 쿼리를 수행 -->

<mapper namespace="com.matjo.web.review.dao.PereviewDao">

	<!-- 회원 목록 조회 -->
	<sql id="pereviewColumns">
		pereview_no AS pereviewNo,
		(
			SELECT member_id FROM member WHERE member_no = pereview.pereview_member
		) AS pereviewMemId,
		(
			SELECT member_name FROM member WHERE member_no = pereview.pereview_member
		) AS pereviewMemName,
		(
			SELECT member_img FROM member WHERE member_no = pereview.pereview_member
		) AS pereviewMemImg,
		pereview_review AS pereviewReviewNo,
		pereview_content AS pereviewContent,
		pereview_rating AS pereviewRating,
		pereview_img AS pereviewImgUrl,
		pereview_date AS pereviewDate
	</sql>

	<!-- 리뷰 목록 조회 -->
	<select id="selectPereviewList" resultType="pereviewBean" parameterType="pereviewBean">
		SELECT
		<include refid="pereviewColumns" />
		FROM
		pereview
		WHERE
		1=1
		<if test='reviewNo != ""'>
			AND pereview_review = #{reviewNo}
		</if>
		ORDER BY
		pereview_no
		DESC
	</select>
	
	    <!-- 개인리뷰 1건 저장 -->
    <insert id="insertPereview" parameterType="pereviewBean">
        INSERT INTO pereview
         (
            pereview_member,
            pereview_review,
            pereview_content,
            pereview_rating
         )
        VALUES
         (
             #{pereviewMemId}, 
             #{pereviewReviewNo}, 
             #{pereviewContent}, 
             #{pereviewRating}
         )
         <selectKey order="AFTER" keyProperty="no" resultType="string">
               SELECT LAST_INSERT_ID()        
        </selectKey>
    </insert>

	
</mapper>








