<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.matjo.web.rank.dao.RankDao">
	
	<!-- 모임순위 조회 (리뷰수) -->
	<select id="selectReviewGroupList" resultType="rankGroupBean">
	    SELECT
	    	review_group as groupNo, COUNT(*) as countGroupRank
		FROM
		 	review
		GROUP BY review_group 
		ORDER BY count(*) desc
		LIMIT 3;
	</select>
	
	<!-- 모임순위 조회 (좋아요수) -->
	<select id="selectLikeGroupList" resultType="rankGroupBean">
		SELECT 
		  A.review_group as groupNo, COUNT(*) as countGroupRank
		FROM
		  likes B LEFT OUTER JOIN review A ON A.review_no = B.like_review
		GROUP BY A.review_group
		ORDER BY count(*) desc
		LIMIT 3;
	</select>
	
	<!-- 맛집순위 조회 [CATE : 한식(리뷰수)] -->
	<select id="selectKoreaRestaList" resultType="rankRestaBean">
	    SELECT
			review_resta_no as restaId, COUNT(*) as countRestaRank
		FROM
		  review
		WHERE review_resta_cate LIKE "%한식%"
		GROUP BY review_resta_no
		ORDER BY count(*) desc
		LIMIT 3;
	</select>
	
	<!-- 맛집순위 조회 [CATE : 중식(리뷰수)] -->
	<select id="selectChinaRestaList" resultType="rankRestaBean">
	    SELECT
			review_resta_no as restaId, COUNT(*) as countRestaRank
		FROM
		  review
		WHERE review_resta_cate LIKE "%중식%"
		GROUP BY review_resta_no
		ORDER BY count(*) desc
		LIMIT 3;
	</select>
	
	<!-- 맛집순위 조회 [CATE : 일식(리뷰수)] -->
	<select id="selectJapanRestaList" resultType="rankRestaBean">
	    SELECT
			review_resta_no as restaId, COUNT(*) as countRestaRank
		FROM
		  review
		WHERE review_resta_cate LIKE "%일식%"
		GROUP BY review_resta_no
		ORDER BY count(*) desc
		LIMIT 3;
	</select>
	
	<!-- 맛집순위 조회 [CATE : 양식(리뷰수)] -->
	<select id="selectUsaRestaList" resultType="rankRestaBean">
	    SELECT
			review_resta_no as restaId, COUNT(*) as countRestaRank
		FROM
		  review
		WHERE review_resta_cate LIKE "%양식%"
		GROUP BY review_resta_no
		ORDER BY count(*) desc
		LIMIT 3;
	</select>
	
	<!-- 맛집순위 조회 [CATE : 치킨(리뷰수)] -->
	<select id="selectChickenRestaList" resultType="rankRestaBean">
	    SELECT
			review_resta_no as restaId, COUNT(*) as countRestaRank
		FROM
		  review
		WHERE review_resta_cate LIKE "%치킨%"
		GROUP BY review_resta_no
		ORDER BY count(*) desc
		LIMIT 3;
	</select>
	
</mapper>