<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.matjo.web.resta.dao.RestaDao">
    
    <sql id="restaColumns">
    	resta_id AS restaId,
		resta_title AS restaTitle,
		resta_cate AS restaCate,
		resta_addr AS restaAddr,
		resta_img AS restaImgUrl,
		resta_lat AS restaLat,
		resta_lng AS restaLng,
		resta_phone AS restaPhone,
		resta_url AS restaUrl
    </sql>
    
	<!-- 맛집정보 1건 조회 -->
	<select id="selectResta" resultType="daumLocalBean" parameterType="daumLocalBean">
	    SELECT
	    	<include refid="restaColumns"/>
	    FROM
	    	resta
	    WHERE
  			resta_id = #{restaId}
	</select>
	
	<!-- 맛집정보 1건 저장 -->
	<insert id="insertResta" parameterType="daumLocalBean">
	    INSERT INTO resta
 		(
			resta_id,
			resta_title,
			resta_cate,
			resta_addr,
			resta_img,
			resta_lat,
			resta_lng,
			resta_phone,
			resta_url
 		)
		VALUES
 		(
 			#{restaId}, 
 			#{restaTitle}, 
 			#{restaCate}, 
 			#{restaAddr},
 			#{restaImgUrl},
 			#{restaLat},
 			#{restaLng},
 			#{restaPhone},
 			#{restaUrl}
 		)
	</insert>
	
	
	<!-- 구독 관련 -->
	<!-- INSERT : 맛집 구독 -->
    <insert id="insertSubsResta" parameterType="daumLocalBean">
		INSERT INTO subsresta
		(
			subsresta_member,
			subsresta_resta
		)
		VALUES
		(
			#{memberNo},
			#{restaId}
		)        
    </insert>
    
    <!-- SELECT : 맛집 구독 여부 조회 -->
    <select id="selectHasSubsResta" parameterType="daumLocalBean" resultType="int">
        SELECT
        	COUNT(*)
        FROM
        	subsresta
        WHERE
        	subsresta_member = #{memberNo}
        	AND
        	subsresta_resta = #{restaId}
    </select>
    
    <!-- DELETE : 맛집 구독 해제 -->
    <delete id="deleteSubsResta" parameterType="daumLocalBean">
        DELETE FROM subsresta
        WHERE
        	subsresta_member = #{memberNo}
        	AND
        	subsresta_resta = #{restaId}
    </delete>
    
    <!-- SELECT : 내 구독 맛집 목록 조회 -->
    <select id="selectSubsRestaList" parameterType="memberBean" resultType="daumLocalBean">
        SELECT
        	subsresta_resta AS restaId
        	, (
        		SELECT resta_title
        		FROM resta
        		WHERE
        			resta.resta_id = subsresta.subsresta_resta
        	) AS restaTitle
        FROM
        	subsresta
        WHERE
        	subsresta_member = #{memberNo}
    </select>
</mapper>