<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.matjo.web.common.dao.NewsFeedDao">

    <select id="selectNewsFeedList" parameterType="pagingBean" resultType="newsFeedBean">
    	SELECT
		  review_resta_no AS groupNo,
		  (SELECT group_name FROM groups WHERE group_no = review.review_group) AS groupName,
		  null AS groupLeader,
		  review_no AS reviewNo,
		  review_resta_name AS restaName,
		  review_resta_cate AS restaCate,
		  (SELECT resta_img FROM resta WHERE resta_id = review.review_resta_no) AS imgPath,
		  review_date AS regDate,
		  2 AS type,
		  '리뷰가' AS typeMsg
		FROM review
		UNION
		SELECT  
		  group_no AS groupNo
		  , group_name AS groupName
		  , (SELECT member_name FROM member WHERE member_no = groups.group_leader) AS groupLeader
		  , null
		  , null
		  , null
		  ,group_img AS imgPath
		  ,group_date AS regDate
		  ,1 AS type
		  ,'새 모임이' AS typeMsg
		FROM groups
		ORDER BY regDate DESC
		<if test="pageNo != -1">
		LIMIT #{startRow}, #{endRow}
		</if>
    </select>
    
    <!-- 뉴스피드 목록 개수 조회 -->
    <select id="selectNewsFeedCount" resultType="int">
    	SELECT
      	( COUNT(*) +
      		( SELECT COUNT(*) FROM groups )
      	) AS totalCount
    	FROM review
    </select>
    
    <!-- 새 모임 리뷰 등록 / 모임 가입 신청 피드 (내 알림 모음) -->
    <select id="selectMyNoti" parameterType="memberBean" resultType="newsFeedBean">
        SELECT
		  review_resta_no AS groupNo,
		  (SELECT group_name FROM groups WHERE group_no = review.review_group) AS groupName,
		  null AS groupLeader,
		  review_no AS reviewNo,
		  review_resta_name AS restaName,
		  review_resta_cate AS restaCate,
		  (SELECT resta_img FROM resta WHERE resta_id = review.review_resta_no) AS imgPath,
		  review_date AS regDate,
		  2 AS type,
		  '새 모임 리뷰가' AS typeMsg
		FROM review
    		WHERE review_group IN (SELECT mygroup_group FROM mygroup WHERE mygroup_member = #{memberNo})
		UNION
		SELECT  
		  null,
		  <!-- 가입 신청 들어온 모임명 -->
	      (SELECT group_name FROM groups WHERE group_no = apply.apply_group) AS groupName,
	      <!-- 가입 신청한 회원이름 -->
	      (SELECT member_name FROM member WHERE member_no = apply.apply_member) AS groupLeader,
	      null AS reviewNo,
	      <!-- 가입 신청 내용 -->
	      apply_content AS restaName,
	      null AS restaCate,
	      <!-- 가입 신청한 회원 이미지 -->
	      (SELECT member_img FROM member WHERE member_no = apply.apply_member) AS imgPath,
	      <!-- 가입 신청 날짜, 시간 -->
		  apply_date AS regDate,
	      1 AS type,
			  '모임 가입 신청이' AS typeMsg
			FROM apply
	    WHERE apply_group IN (SELECT group_no FROM groups WHERE group_leader = #{memberNo})
			ORDER BY regDate DESC
    </select>
    
</mapper>